.group{
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 85% 15%;
}
.currencyInput, .currencySelect{
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #4f94c0;

}
.currencyInput:focus, .currencySelect:focus{
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.7) 0 2px 8px 0;
}
.currencyInput .error{
    border: 2px solid red;
    background-color: red;
}